{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
    <h1>Film index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Year</th>
                <th>Country</th>
                <th>Director</th>
                <th>Image</th>
                <th>Note</th>
                <th>Comment</th>
                <th>Dateview</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.title }}</td>
                <td>{{ film.year ? film.year|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ film.country }}</td>
                <td>{{ film.director }}</td>
                <td>{{ film.image }}</td>
                <td>{{ film.note }}</td>
                <td>{{ film.comment }}</td>
                <td>{{ film.dateview ? film.dateview|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('film_show', {'id': film.id}) }}">show</a>
                    <a href="{{ path('film_edit', {'id': film.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('film_new') }}">Create new</a>
{% endblock %}
